:root{
    /* color */
    --main-white-color: #fff;
    --main-khaki-color: #6c8e6a;
    --main-green-color: #8eb48b;
    --main-red-color: #cd4444;
    --main-red-color2: #9a1e2f;
    --main-blue-color: #4473cd;
    --main-gray-color: #a4a4a4;
    --main-gray-color2: #d9d9d9;
    --main-black-color: #414141;

    /* container-size */
    --container-size : 1200px
}

/* .unit-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
} */

header{
    display: flex;
    align-items: center;
    max-width: var(--container-size);
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}

h1 > a {
    font-size: 36px;
    color: var(--main-black-color);
}

nav a{
 color: var(--main-khaki-color);
 margin: 8px;
}

#main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 80px;
}

.gyufle span{
    font-size: 100px;
    font-weight: bold;
}

.g{
    color: #6e97d0;
}

.y{
    color: #f1625b;
}

.u{
    color: #e4c733;
}

.second-g{
    color: #6e97d0;
}

.l{
    color:#64B281
}

.e{
    color: #E5696E;
}


.searh-area{
    border: 2px solid var(--main-khaki-color);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.5);
    border-radius: 30px;
    margin: 0 auto;
    width: 600px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-name{
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.search-name-wrapper{
    color: var(--main-khaki-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 18px;
}

.search-name-wrapper{
    font-size: 18px;
}

.search-icon{
    width: 25px;
    height: 25px;
    display: inline-block;
}

.close-here{
    width: 25px;
    height: 25px;
}

.explane-me{
    margin: 8px;
    display: flex;
    gap: 8px;
}

.explane-me figure{
    width: 25px;
    height: 25px;
    display: inline-block;
}

.underline:after{
    content: '';
    display: block;
    width: 90%;
    height: 1.5px;
    background-color: var(--main-khaki-color);
    margin: 0 auto;
}

.scroll-down{
    color: var(--main-khaki-color);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.down-arrow{
    height: 15px;
    width: 15px;
    border-bottom: 2px solid var(--main-khaki-color);
    border-left: 2px solid var(--main-khaki-color);
    transform: rotate(-45deg);
    display: inline;
}

#profile{
    height: 100vh;
    width: 100vw;
}

.file-container{
    max-width: var(--container-size);
    margin: 0 auto;
    padding: 32px;
    height: 100vh;
}

.index-area{
    display: flex;
}

.profile-file{
    background-color: var(--main-khaki-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: flex-start;
    border-radius: 0px 8px 8px 8px;
}

.search-ing{
    width: 328px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--main-white-color);
}

.searching{
    color: var(--main-khaki-color);
    font-size: 18px;
    font-weight: bold;
}

.introduce-card-box{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.introduce{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 45%;
    width: 100%;
}

.about-me{
    width: 100%;
}

.my-profile{
    flex-basis: 30%;
}

.my-profile figure{
    border-radius: 16px;
    overflow: hidden;
    height: 168px;
}

.introduce-card{
    flex-basis: 55%;
}

.name h2{
    color: var(--main-white-color);
    font-weight: bold;
    font-size: 20px;
    margin-top: 8px;
}
.name p{
    color: var(--main-white-color);
    font-size: 16px;
    margin-top: 8px;
}

.introduce-card{
    background-color: var(--main-white-color);
    border-radius: 8px;
    padding: 36px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.introduce-my-self{
    display: flex;
    flex-direction: column;
    border-left: 3px solid var(--main-khaki-color);
    padding-left: 16px;
    gap: 8px;
}

.introduce-my-self p {
    color: var(--main-khaki-color);
    font-weight: bold;
    line-height: 150%;
}

.introduce-hi{
    font-size: 18px;
    color: var(--main-khaki-color);
    font-weight: bold;
}

.profile-gradu-cards{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.profile-card{
    background-color: var(--main-white-color);
    padding: 25px;
    border-radius: 8px;
    width: 100%;
}

.profile-card span{
    color: var(--main-green-color);
    font-weight: bold;
}

.profile-card p{
    color: var(--main-khaki-color);
    font-weight: bold;
}

.profile-card-content{
    display: flex;
    gap: 16px;
    margin-top: 8px;
    border-left: 3px solid var(--main-khaki-color);
}

.profile-contents-name{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 16px;
}

.profile-contents{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gradu-card{
    background-color: var(--main-white-color);
    padding: 25px;
    border-radius: 8px;
    width: 100%;
}

.gradu-card span{
    color: var(--main-green-color);
    font-weight: bold;
}

.gradu-card-content{
    display: flex;
    gap: 16px;
    margin-top: 8px;
    padding-left: 16px;
    border-left: 3px solid var(--main-khaki-color);
}

.gradu-contents{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gradu-contents p {
    color: var(--main-khaki-color);
    font-weight: bold;
}

.hobby-card{
    display: flex;
    background-color: var(--main-white-color);
    margin-top: 16px;
    flex-direction: column;
    border-radius: 8px;
    padding: 16px;
}

.hobby-card span{
    color: var(--main-green-color);        
    font-weight: bold;
    margin-bottom: 16px;
    line-height: 150%;
}

.hobby-contents figure{
    background-color: #6c8e6a;
    border-radius: 100%;
    width: 90px;
    margin-bottom: 8px;
}

.hobby-contents p{
    color: var(--main-khaki-color);
    font-weight: bold;
    margin-bottom: 16px;
}

.hobby-contents{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.hobby-card-content{
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
}

.skills-background-container{
    background-color: var(--main-red-color);
    border-radius: 0px 8px 8px 8px;
    padding: 30px;
}

.skills-contents-container{
    background-color: var(--main-white-color);
    border-radius: 8px;
    padding: 20px;
}

.skills-contents-container h3{
    color: var(--main-red-color2);
    font-weight: bold;
    font-size: 18px;
}

.skills-contents-wrapper{
    display: flex;
    gap: 88px;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-contents-wrapper figure{
    width: 130px;
}

.skill{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.skills-img-bar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-warpper{
    margin-top: 16px;
}

.whole-bar{
    width: 190px;
    height: 15px;
    background-color: var(--main-red-color);
    border-radius: 20px;
    overflow: hidden;
}

.skills-explane{
    margin-top: 16px;
    background-color: var(--main-red-color);
    padding: 10px;
    border-radius: 8px;
}

.skills-explane p{
    color: var(--main-white-color);
    line-height: 150%;
    font-weight: bold;
    font-size: 14px;
}

.html-bar{
    width: 85%;
    background-color: var(--main-red-color2);
    height: 100%;
}

.workout-background{
    background-color: var(--main-blue-color);
    border-radius: 0px 8px 8px 8px;
    padding: 30px;
}

.workout-color-index-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

.three-color{
    display: flex;
    gap: 8px;
}

.three-color div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.red{
    background-color: #f54141;
}

.yello{
    background-color: #ebbf2d;
}

.green{
    background-color: #49b12f;
}

.workout-1-img{
    display: flex;
}

.workout-2-img-wrapper{
    display: flex;
}

.workout1-index-wrapper{
    display: flex;
}

.workout-container{
    background-color: var(--main-white-color);
    padding: 20px;
    border-radius: 8px;
    
}

.workout-1-wrapper{
    display: flex;
    flex-direction: column;
    gap: 180px;
}

.workout-HBAF-container{

}

.workout-infant-container figure{
    width: 100%;
}

.infant-text{
    width: 100%;
}

.hbaf-top-explane{
    display: flex;
    gap: 16px;
}

.hbaf-top-explane figure{
    flex-basis: 50%;
}

.hbaf-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.hbaf-text h3{
    font-size: 18px;
    font-weight: bold;
    color: var(--main-blue-color);
    margin-bottom: 24px;
}

.hbaf-text-wrapper{
    margin-bottom: 24px;
}

.hbaf-text p{
    color: var(--main-blue-color);
    font-weight: bold;
    line-height: 150%;
}

.hbaf-tag{
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.hbaf-tag div{
    border: 1px solid var(--main-blue-color);
    border-radius: 16px;
}

.hbaf-tag p{
    padding: 5px 10px;
}

.view{
    background-color: var(--main-blue-color);
    display: inline-block;
    border-radius: 16px;
    color: var(--main-white-color);
    padding: 10px;
    width: 80px;
    text-align: center;
}

.hbaf-code > .hbaf-introduce{
    margin-bottom: 36px;
}

.hbaf-folder{
    font-size: 30px;
    color: var(--main-blue-color);
    font-weight: bold;
}

.hbaf-introduce p{
    font-weight: bold;
    line-height: 150%;
    margin-top: 16px;
}

.code-explane-img-container{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.hbaf-animation-code-img-wrapper{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

figcaption{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--main-black-color);
    margin-top: 8px;
}

.hbaf-code{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.intro-animation-img-wrppaer figure{
    max-width: 370px;
}

.hbaf-img-wrapper{
    display: flex;
}




#contact{
    display: none;
}



