:root{
    /* color */
    --main-white-color: #fff;
    --main-khaki-color: #6c8e6a;
    --main-green-color: #8eb48b;
    --main-red-color: #cd4444;
    --main-red-color2: #9a1e2f;
    --main-blue-color: #4473cd;
    --main-gray-color: #a4a4a4;
    --main-gray-color2: #d9d9d9;
    --contact-gray-color: #dedede;
    --contact-click-color: #eeecec;
    --main-black-color: #414141;

    /* container-size */
    --container-size : 1200px
}

body{
    overflow-x: hidden;
}

.body-scroll{
    overflow: hidden;
}

h1{
    position: relative;
    height: 40px;

}

.unit-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.hide-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

header{
    display: flex;
    align-items: center;
    max-width: var(--container-size);
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

h1 > a {
    font-size: 36px;
    color: var(--main-black-color);
}

nav a{
 color: var(--main-khaki-color);
 margin: 8px;
}

#main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    gap: 80px;
    box-sizing: border-box;
}

.center{
    justify-content: center;
}

.ball-wrapper{
    width: 140px;
    height: 20%;
    margin: -150px 0 0 -70px;
    margin: 0 auto;
    position: relative;
}

#ball{
    width: 140px;
    height: 140px;
    border-radius: 70px;
    position: absolute;
    animation: jump 1s;
    animation-iteration-count: 3;   
}

#ball div{
    width: 140px;
    height: 140px;
    z-index: 10;
    position: absolute;
    background: linear-gradient(350deg, #248f17, #ffffff);
    box-shadow: inset 0 -5px 15px rgb(255 255 255 / 50%), inset -2px -1px 40px #26603c, 0 0 1px #ffffff;
    border-radius: 50%;
    transition: 0.5s;
}

.ball-text{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 60px;
    font-weight: bold;
}


#ball .g{
    animation: g 2.5s cubic-bezier(0.415, 0.547, 0, 0.809) 3s 2;
}

#ball .y{
    animation: y 2.5s cubic-bezier(0.415, 0.547, 0, 0.809)  3s 2;
}

#ball .u{
    animation: u 2.5s cubic-bezier(0.415, 0.547, 0, 0.809)  3s 2;
}

#ball .second-g{
    animation: second-g 2.5s cubic-bezier(0.415, 0.547, 0, 0.809)  3s 2;
}

#ball .l{
    animation: l 2.5s cubic-bezier(0.415, 0.547, 0, 0.809)  3s 2;
}

#ball .e{
    animation: e 2.5s cubic-bezier(0.415, 0.547, 0, 0.809)  3s 2;
}


.top{
    clip-path: polygon(50% 50%, 0 0, 100% 0);
    animation: clip-top 2.5s;
    animation-delay: 3s;
    animation-iteration-count: 2;
}

.left{   
    clip-path: polygon(50% 50%, 0 0, 0 100%);  
    animation: clip-left 2.5s;
    animation-delay: 3s;
    animation-iteration-count: 2;
}

.right{
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
    animation: clip-right 2.5s;
    animation-delay: 3s;
    animation-iteration-count: 2;
}

.bottom{
    clip-path: polygon(50% 50%, 0 100%, 100% 100%);
    animation: clip-bottom 2.5s;
    animation-delay: 3s;
    animation-iteration-count: 2;
}


#ball::after {
	content: "";
	width: 80px; 
	height: 40px; 
	position: absolute;
	left: 30px;
	top: 10px;	
	background-color: linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
	border-radius: 40px / 20px;	
}

#ballshadow {
	width: 60px;
	height: 75px;
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
	background: rgba(20, 20, 20, .1);
	box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
	border-radius: 30px / 40px;	
    animation: shrink 1s forwards;
    animation-iteration-count: 3;
}

.gyufle span{
    font-size: 100px;
    font-weight: bold;
}

.g{
    color: #6e97d0;
}

.y{
    color: #f1625b;
}

.u{
    color: #e4c733;
}

.second-g{
    color: #6e97d0;
}

.l{
    color:#64B281
}

.e{
    color: #E5696E;
}


.searh-area{
    border: 2px solid var(--main-khaki-color);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.5);
    border-radius: 30px;
    margin: 0 auto;
    width: 600px;
    height: 60px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    transition: 1s;
    box-sizing: border-box;
}

.ball-display{
    display: none;
}

.search-name{
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.search-name-wrapper{
    color: var(--main-khaki-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 18px;
}

.search-my-name{
    display: flex;
}

.search-my-name::after{
    content: '';
    display: block;
    width: 1.5px;
    height: 20px;
    background-color: var(--main-khaki-color);
    margin-left: 8px;
    animation: blink 1s infinite;
}

.search-icon{
    width: 25px;
    height: 25px;
    display: inline-block;
}

.close-here{
    width: 25px;
    height: 25px;
}

.explane-me{
    margin: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.explane-me figure{
    width: 25px;
    height: 25px;
    display: inline-block;
}

.explane-me p{
    font-size: 18px;
    color: var(--main-khaki-color);
    margin-left: 16px;

}

.underline:after{
    content: '';
    display: block;
    width: 90%;
    height: 1.5px;
    background-color: var(--main-khaki-color);
    margin: 0 auto;
}

.scroll-down{
    color: var(--main-khaki-color);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    animation: maindownarrow 2s infinite;
}

.down-arrow-wrapper{
    width: 15px;
    height: 30px;
    position: relative;
}


.down-arrow{
    height: 15px;
    width: 15px;
    border-bottom: 2px solid var(--main-khaki-color);
    border-left: 2px solid var(--main-khaki-color);
    transform: rotate(-45deg);
    display: block;
    position: absolute;
    bottom: 0;
}

.down-arrow:nth-child(1){
    bottom: 30%;
}

.ball-display{
    display: none;
}

#profile{
    padding-bottom: 64px;
}

#profile .index-area figure:nth-child(2){
    filter: brightness(0.6);
} 

#profile .index-area figure:nth-child(3){
    filter: brightness(0.6);
}

.file-container{
    max-width: var(--container-size);
    margin: 0 auto;
    padding: 32px;
    position: relative;
}

.index-area figure{
    cursor: pointer;
}

.index-area{
    display: flex;
}

.profile-file{
    background-color: var(--main-khaki-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: flex-start;
    border-radius: 0px 8px 8px 8px;
}

.search-ing{
    width: 328px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--main-white-color);
    display: flex;
    align-items: center;
}

.searching{
    color: var(--main-khaki-color);
    font-size: 18px;
    font-weight: bold;
    margin: 0px 16px;
    display: flex;
    gap: 8px;
}

.searching::after{
    content: '';
    display: block;
    background-color: var(--main-khaki-color);
    width: 1.5px;
    height: 22px;
    animation: blink 1s infinite;
}

.introduce-card-box{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.introduce{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 45%;
    width: 100%;
}

.about-me{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-profile{
    flex-basis: 30%;
}

.my-profile figure{
    border-radius: 16px;
    overflow: hidden;
    height: 168px;
}

.my-profile img{
    transform: translateY(-30%);
}

.introduce-card{
    flex-basis: 55%;
}

.name h2{
    color: var(--main-white-color);
    font-weight: bold;
    font-size: 20px;
    margin-top: 8px;
}
.name p{
    color: var(--main-white-color);
    font-size: 16px;
    margin-top: 8px;
}

.introduce-card{
    background-color: var(--main-white-color);
    border-radius: 8px;
    padding: 36px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.introduce-my-self{
    display: flex;
    flex-direction: column;
    border-left: 3px solid var(--main-khaki-color);
    padding-left: 16px;
    gap: 8px;
}

.introduce-my-self p {
    color: var(--main-khaki-color);
    font-weight: bold;
    line-height: 150%;
}

.introduce-hi{
    font-size: 18px;
    color: var(--main-khaki-color);
    font-weight: bold;
}

.profile-gradu-cards{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.profile-card{
    background-color: var(--main-white-color);
    padding: 25px;
    border-radius: 8px;
    width: 100%;
}

.profile-card span{
    color: var(--main-green-color);
    font-weight: bold;
}

.profile-card p{
    color: var(--main-khaki-color);
    font-weight: bold;
}

.profile-card-content{
    display: flex;
    gap: 16px;
    margin-top: 8px;
    border-left: 3px solid var(--main-khaki-color);
}

.profile-contents-name{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 16px;
}

.profile-contents{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gradu-card{
    background-color: var(--main-white-color);
    padding: 25px;
    border-radius: 8px;
    width: 100%;
}

.gradu-card span{
    color: var(--main-green-color);
    font-weight: bold;
}

.gradu-card-content{
    display: flex;
    gap: 16px;
    margin-top: 8px;
    padding-left: 16px;
    border-left: 3px solid var(--main-khaki-color);
}

.gradu-contents{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gradu-contents p {
    color: var(--main-khaki-color);
    font-weight: bold;
}

.hobby-card{
    display: flex;
    background-color: var(--main-white-color);
    flex-direction: column;
    border-radius: 8px;
    padding: 16px;
}

.hobby-card span{
    color: var(--main-green-color);        
    font-weight: bold;
    margin-bottom: 16px;
    line-height: 150%;
}

.hobby-contents figure{
    border-radius: 100%;
    width: 90px;
    margin-bottom: 8px;
    overflow: hidden;
}

.hobby-contents p{
    color: var(--main-khaki-color);
    font-weight: bold;
    margin-bottom: 16px;
}

.hobby-contents{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.hobby-card-content{
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
}

#skills .index-area figure:nth-child(1){
    filter: brightness(0.6);
}
#skills .index-area figure:nth-child(3){
    filter: brightness(0.6);
}

#skills{
    padding-bottom: 64px;
}

.skills-background-container{
    background-color: var(--main-red-color);
    border-radius: 0px 8px 8px 8px;
    padding: 30px;
}

.skills-contents-container{
    background-color: var(--main-white-color);
    border-radius: 8px;
    padding: 20px;
}

.skills-contents-container h3{
    color: var(--main-red-color2);
    font-weight: bold;
    font-size: 18px;
}

.hover-img {
    margin: 24px 0px;
    font-size: 14px;
}


.skills-contents-wrapper{
    display: flex;
    gap: 88px;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-contents-wrapper figure{
    width: 130px;
}

.skill{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 228px;
}

.skills-img-bar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-warpper{
    margin-top: 16px;
    width: 190px;
    height: 15px;
    background-color: var(--main-red-color);
    border-radius: 20px;
    overflow: hidden;
}

.whole-bar{
}



.skills-explane{
    visibility: hidden;
    margin-top: 16px;
    background-color: var(--main-red-color);
    padding: 10px;
    border-radius: 8px;
    transition: 0.5s;
}

.skills-explane p{
    color: var(--main-white-color);
    line-height: 150%;
    font-weight: bold;
    font-size: 14px;
}

.html:hover .html-hover {
    visibility: visible;
}

.css:hover .css-exaplne{
    visibility: visible;
}

.js:hover .js-exaplne{
    visibility: visible;
}

.photo:hover .photo-exaplne{
    visibility: visible;
}

.ill:hover .ill-exaplne{
    visibility: visible;
}

.touch-img{
    visibility: unset;
}

.bar{
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.html-bar{
    width: 85%;
}

.css-bar{
    width: 85%;
}

.js-bar{
    width: 70%;
}

.photo-bar{
    width: 90%;
}

.ill-bar{
    width: 85%;
}

.whole-bar{
    width: 0;
    height: 100%;
    transition: 1s;
    background-color: var(--main-red-color2);
}

.bar-width{
    width: 100%;
}

#workout .index-area figure:nth-child(1){
    filter: brightness(0.6);
}
#workout .index-area figure:nth-child(2){
    filter: brightness(0.6);
}

#workout{
    padding-bottom: 64px;
}

.workout-background{
    background-color: var(--main-blue-color);
    border-radius: 0px 8px 8px 8px;
    padding: 30px;
}

.workout-color-index-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

.three-color{
    display: flex;
    gap: 8px;
}

.three-color div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.red{
    background-color: #f54141;
}

.yello{
    background-color: #ebbf2d;
}

.green{
    background-color: #49b12f;
}

.workout-1-img{
    display: flex;
}

.workout-2-img-wrapper{
    display: flex;
}

.workout1-index-wrapper{
    display: flex;
}

.workout-index {
    filter: brightness(0.8);
    cursor: pointer;
}

.pick-index {
    filter: none;
}

.workout-container{
    background-color: var(--main-white-color);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
}

.workout-overflow-container{
    overflow: hidden;
    height: 650px;
    max-width: 1100px;
    transition: 0.5s;
}


.workout-wrapper{
    display: flex;
}

.work-out-explane{
    width: 1140px;
    flex-shrink: 0;
    display: none;
}

.workout-display{
    display: block;
}

.workout-infant-container figure{
    width: 100%;
}

.infant-text{
    width: 100%;
}

.portfolio-main-explane{
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 160px 0px;
}

.portfolio-main-explane figure{
    flex-basis: 50%;
}

.workout-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    flex-basis: 50%;
}

.workout-text h3{
    font-size: 18px;
    font-weight: bold;
    color: var(--main-blue-color);
    margin-bottom: 24px;
}

.workout-text-wrapper{
    margin-bottom: 24px;
}

.workout-text p{
    color: var(--main-blue-color);
    font-weight: bold;
    line-height: 180%;
}

.tittle{
    color: var(--main-black-color);
}


.workout-tag{
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.workout-tag div{
    border: 1px solid var(--main-blue-color);
    border-radius: 16px;
}

.workout-tag p{
    padding: 5px 10px;
}


.view{
    background-color: var(--main-blue-color);
    display: inline-block;
    border-radius: 16px;
    color: var(--main-white-color);
    padding: 10px;
    width: 80px;
    text-align: center;
}

.code-container > .hbaf-introduce{
    margin-bottom: 128px;
    padding-top: 32px; 
}

.code-container figure{
    width: 351px;
    margin: 24px 0px;
}

.double-slide-wrapper{
    display: flex;
    flex-direction: column;
}

.folder-main-text{
    font-size: 30px;
    color: var(--main-blue-color);
    font-weight: bold;
}

.hbaf-introduce p{
    font-weight: bold;
    line-height: 150%;
    margin-top: 16px;
}

.infant-care-introduce p{
    margin-top: 64px;
    font-weight: bold;
    line-height: 150%;
}

.infant-care-introduce{
    margin-top: 36px;
}

.code-explane-img-container{
    margin-bottom: 128px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.hbaf-animation-code-img-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

figcaption{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: var(--main-black-color);
    margin-top: 8px;
}

.code-container{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.intro-animation-img-wrppaer figure{
    max-width: 370px;
}

.hbaf-img-wrapper{
    display: flex;
}

.folder{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    animation: downarrow 2s infinite;
    cursor: pointer;
}

.folder span{
    color: var(--main-blue-color);
    font-weight: bold;
    margin-top: 16px;
}

.folder-arrow{
    border-bottom: 2px solid var(--main-blue-color);
    border-left: 2px solid var(--main-blue-color);
}

.folder-arrow:first-child{
    position: absolute;
    top: 30%;

}

.folder-arrow-container{
    width: 15px;
    height: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.arrow-area{
    border-bottom: 2px solid var(--main-blue-color);
    border-left: 2px solid var(--main-blue-color);
    animation-name: downarrow 2s infinite;
}

.folder-arrow-click{
    flex-direction: column-reverse;
}

.folder.folder-arrow-click .folder-arrow-container{
    transform: rotate(180deg);   
}

.goto-workout-wrapper{
    position: absolute;
    right: 0;
    bottom: 72px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.goto-workout{
    width: 90px;
    position: relative;
    z-index: 1;
    cursor: pointer
}

.goto-workout-display{
    display: none;
}

.back-index{
    z-index: 0;
    filter: brightness(0.8);
    animation: click-here 0.5s infinite alternate;
}




.contact-file-name{
    background-color: var(--main-white-color);
    border: 1px solid var(--contact-gray-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

.contact-name{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 16px;
}

.contact-name h4{
    font-size: 40px;
    color: var(--main-gray-color);
    font-weight: bold;
}

.contact-name figure{
    width: 25px;
    height: 25px;
}

.send-email{
    flex-grow: 100;
}

.another-contact{
    box-sizing: border-box;
}

.another-contact span{
    font-size: 24px;
    color: var(--main-blue-color);
    font-weight: bold;
}

.another-contact p{
    font-size: 18px;
    color: var(--main-gray-color);
    margin-top: 16px;
}

.another-contact p:nth-child(3) {
    font-size: 14px;
    line-height: 150%;
    color: var(--main-blue-color);
    font-weight: bold;
}

form {
    display: flex;
    align-items: center;
    gap: 64px;
    justify-content: center;
}

.contact-file-contents-background{
    background-color: var(--contact-gray-color);
    padding: 20px;
}

.contact-index-wrapper{
    display: flex;
    gap: 2px;
}

.contact-index-wrapper div{
    cursor: pointer;
}

.contact-index{
    padding: 10px;
    width: 130px;
    background-color: var(--contact-click-color);    
}

.contact-index p {
    color: var(--main-gray-color);
}

.contact-index-color{
    background-color: var(--main-white-color);
}

.contact-gyulee-img{
    width: 170px;
    border-radius: 8px;
    overflow: hidden;
}

.contact-overflow-hidden{
    overflow: hidden;
}

.contact-contents-background{
    padding: 60px;
    background-color: var(--main-white-color);
}

.contact-contents-wrapper{
    display: flex;
    gap: 120px;
}

.contact-name-contents{
    flex-shrink: 0;
}

.contact-name-wrapper{
    display: flex;
    align-items: center;
    gap: 24px;
    border-bottom: 2px solid var(--main-gray-color2);
    padding-bottom: 24px;
}

.gyulee-name-wrapper{
    border: 1px solid var(--main-gray-color2);
    padding: 10px;
    width: 100%;
}

.contact-tel-mail-sns{
    display: flex;
    gap: 64px;
    padding-top: 16px;
    border-bottom: 2px solid var(--main-gray-color2);
}

.contact-tel-mail-sns p {
    margin-bottom: 16px;
}

.contact-display-none{
    display: none;
}

.characteristic{
    display: flex;
    gap: 64px;
    padding: 24px 0px;
    align-items: center;
}

.characteristic-contents p {
    line-height: 150%;
}

.characteristic-text{
    flex-shrink: 0;
}

.copyright{
    text-align: center;
    padding: 64px 0px;
}

.top-workout-index-display{
    display: none;
}

.workout-height-unset{
    height: unset;
}

.email-text-wrapper{
    display: flex;
    flex-direction: column;
}

.email-send-your-message{
    margin-bottom: 16px;
}

.email-send-your-message p{
    font-size: 18px;
    color: var(--main-black-color);
}

.email-name-wrapper p{
    font-size: 16px;
    color: var(--main-gray-color);
    gap: 16px;
}

.email-name-input{
    width: 100%;
}

.email-input{
    width: 100%;
}

.email-text{
    font-size: 16px;
    color: var(--main-gray-color);
}


.your-message-input{
    width: 100%;
    height: 150px;
}

.submit-message{
    background-color: var(--main-blue-color);
    border: 0px;
    color: var(--main-white-color);
    width: 150px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

input{
    margin-bottom: 16px;
    margin-top: 8px;
    border: 0px ;
    border-radius: 8px;
    padding: 8px;
    background: rgb(193, 193, 193);
    box-sizing: border-box;
    width: 100%;
}

.email-name-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.another-contact{
    border-left: 1px solid var(--main-gray-color);
    padding-left: 64px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.modal-back{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: brightness(0.5) ;
}

.modal p {
    margin-bottom: 16px;
    line-height: 150%;
    font-size: 14px;
}

.ok{
    background-color: var(--main-blue-color);
    border-radius: 8px;
    padding: 5px 10px;
    color: var(--main-white-color);
    font-size: 12px;
    cursor: pointer;
}

.modal{
    position: absolute;
    width: 250px;
    padding: 24px;
    right: 50%;
    background-color: white;
    box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, 0.1);
    bottom: 50%;
    border-radius: 8px;
    transform: translate(50%, 50%);
    text-align: center;
}

.modal-look{
    display: none;
}



@keyframes blink{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 100;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
	}
	50% {
        bottom: 140px;
		height: 140px;
	}
	55% {
        bottom: 160px; 
		height: 120px; 
		border-radius: 70px / 60px;
	}
	65% {
        bottom: 120px; 
		height: 140px; 
		border-radius: 70px;
	}
	95% {
        bottom: 0;
	}
	100% {
        bottom: 0;
	}
}

@keyframes shrink {
    0% {
        bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 30px / 40px;
	}
	50% {
        bottom: 30px;
		margin-left: -10px;
		width: 20px;
		height: 5px;
		background: rgba(20, 20, 20, .3);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
		border-radius: 20px / 20px;
	}
	100% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 30px / 40px;
	}
}

@keyframes clip-top{
    0% {transform:translateY(0px);}
    50% {transform:translateY(-150px);}
    100% {
        transform:translateY(-150px);    
    }
}

@keyframes click-here{
    0%{
        filter: brightness(0.9);
    }
    
    100%{
        filter: brightness(1.1);
    }
}

@keyframes clip-left{
    0% {transform:translateX(0px)}
    50% {transform:translateX(-150px)}
    100% {
        transform:translateX(0px);    
    }
}

@keyframes clip-top{
    0% {transform:translateY(0px);}
    50% {transform:translateY(-150px);}
    100% {
        transform:translateY(0px);    
        }
  }

  @keyframes clip-bottom{
    0% {transform:translateY(0px)}
    50% {transform:translateY(150px)}
    100% {
        transform:translateY(0px);    
        }
  }

  @keyframes clip-right {
    0% {transform:translateX(0px)}
    50% {transform:translateX(150px)}
    100% {
        transform:translateX(0px);    
        }
  }

  
@keyframes e {
    0% {transform:translateX(0) translateY(0) scale(0) rotateZ(0)}
    50% {transform:translateX(60px) translateY(70px) scale(1) rotateZ(155deg)}
    100% {transform:translateX(0) translateY(0) scale(0) rotateZ(0)}
  }

@keyframes y {
  0% {transform:translateX(0) translateY(0) scale(0) rotateZ(0)}
  50% {transform:translateX(-50px) translateY(50px) scale(1) rotateZ(90deg)}
  100% {transform:translateX(0) translateY(0) scale(0) rotateZ(0)}
}

@keyframes g {
    0% {transform:translateX(0) translateY(0) scale(0) rotateZ(0)}
    50% {transform:translateX(-80px) translateY(-60px) scale(1) rotateZ(135deg)}
    100% {transform:translateX(0) translateY(0) scale(0) rotateZ(0)}
  }

@keyframes u {
  0% {transform:translateX(0) translateY(0) scale(0)}
  50% {transform:translateX(70px) translateY(-80px) scale(1)}
  100% {transform:translateX(0) translateY(0) scale(0)}
}

@keyframes second-g {
    0% {transform:translateX(0) translateY(0) scale(0) rotateZ(0)}
    50% {transform:translateX(-100px) translateY(140px) scale(1) rotateZ(-90deg)}
    100% {transform:translateX(0) translateY(0) scale(0) rotateZ(0)}
  }

@keyframes l {
  0% {transform:translateX(0) translateY(0) scale(0) rotateZ(0)}
  50% {transform:translateX(100px) translateY(140px) scale(1) rotateZ(-270deg)}
  100% {transform:translateX(0) translateY(0) scale(0) rotateZ(0)}
}

@keyframes maindownarrow {
    0%{
        transform: translate(0 , 0px);   
    }

    50%{
        transform: translate(0 , 15px);
    }

    100%{
        transform: translate(0 , 0px);
    }
}

@keyframes downarrow {
    0%{
     transform: translate(-50% , 0px);   
    }

    50%{
        transform: translate(-50% , 15px);
    }

    100%{
        transform: translate(-50% , 0px);
    }
}

@media screen and (max-width:1200px) {
    .workout-overflow-container{
        height: 630px;
    }

    .workout-height-unset{
        height: unset;
    }

    #profile{
        width: unset;
        height: unset;
    }
}




@media screen and (max-width:834px) {
    
    .gyufle span{
        font-size: 80px;
    }

    .introduce-card-box{
        flex-direction: column;
    }

    .introduce{
        flex-direction: row;
        justify-content: space-between;
    }

    .hobby-card{
        margin-top: 16px;
    }

    .my-profile{
        display: flex;
        flex-basis: 50%;
        align-items: end;
        gap: 8px;
    }

    .my-profile img{
        transform: unset;
    }

    .file-container{
        padding: unset;
    }
    
    .introduce{
        flex-direction: column;
    }
    .introduce-card{
        flex-basis: 50%;
    }

    .my-profile figure{
        height: unset;
        flex-basis: 50%;
    }

    .name{
        flex-basis: 50%;
    }

    #profile{
        height: unset;
        width: unset;
    }

    .portfolio-main-explane{
        padding: unset;
        flex-direction: column;
        padding: 64px 0px;
        padding-bottom: 128px;
    }

    .code-explane-img-container{
        flex-direction: column;
        align-items: center;
    }

    .workout-overflow-container{
        height: 853px;
    }

    .folder{
        bottom: 30px;
    }

    .hbaf-code{
        margin: 0 auto;
        margin-top: 24px;
    }

    .workout-height-unset{
        height: unset;
    }
    
    .animation-img-container{
        margin: 0 auto;
    }

    form{
        justify-content: space-between;
        gap: 24px;
    }

    .another-contact{
        padding-left: 24px;
    }

    .contact-name h4 {
    font-size: 32px;
    }

    .contact-tel-mail-sns{
        gap: 8px;
    }

    .characteristic{
        gap: 24px;
    }


    .goto-workout-wrapper{
        transform: rotate(180deg);
        z-index: 1;
        right: 30px;
    }

    .goto-workout{
        background-color: #eebd40;
        width: 80px;
        height: 120px;
        clip-path: ellipse(50px 70px at 0% 50%);
        overflow: hidden;
    }

    .goto-workout-wrapper img{
        transform: translate(-58%, 0% );
    }


}

@media screen and (max-width:670px) {
    
    .search-ing{
        width: 100%;
    }

    .hobby-card-content{
        flex-direction: column;
    }

    .goto-workout{
        width: 75px;
    }

    .workout-text{
        padding: unset;
    }
    
    .profile-gradu-cards{
        flex-direction: column;
    }

    .workout-text{
        align-items: flex-start;
        margin-bottom: 64px;
    }
    
    .searh-area{
        width: 100%;
    }

    #main{
        padding: 0px 32px;
    }

    .workout-tag p{
        font-size: 14px;
    }

    .workout-overflow-container{
        height: 710px;
    }

    .portfolio-main-explane{
        padding: 64px 0px;
    }

    .workout-height-unset{
        height: unset;
    }

    .gradu-card{
        width: unset;
    }

    .profile-card{
        width: unset;
    }


    .contact-name-contents{
        flex-grow: 100;
    }

    form{
        flex-direction: column;
        gap: 24px;
    }

    .email-text-wrapper{
        align-items: flex-start;
    }

    .another-contact{
        border-left: unset;
        border-top: 1.5px solid var(--main-blue-color);
        padding: 24px;
        width: 100%;
    }

    .contact-contents-background{
        padding: 16px;
    }

    .workout-text p{
        font-size: 14px;
    }
}


@media screen and (max-width:360px) {

    .goto-workout-wrapper{
        transform: rotate(180deg);
        z-index: 1;
        right: 16px;
    }

    /*.goto-workout{
        background-color: #eebd40;
        width: 50px;
        height: 100px;
        clip-path: ellipse(30px 50px at 0% 50%);
        overflow: hidden;
    }

    .goto-workout-wrapper img{
        transform: translate(-58%, 15% );
    } */

    .skills-background-container{
        padding: 24px 16px;
    }
    
    header nav{
        display: none;
    }

    #main{
        padding: 0px 16px;
        box-sizing: border-box;
    }
    
    .gyufle span{
        font-size: 50px;
    }

    .searh-area{
        width: 100%;
        box-sizing: border-box;
    }

    .file-container{
        padding: unset
    }

    .my-profile figure{
        flex-basis: 50%;
    }

    .profile-file{
        padding: 24px 16px;
        border-radius: 0px 0px 8px 8px;
       margin-bottom: 256px;
    }

    .hobby-card{
        margin-top: 64px;
    }

    .introduce-card-box{
        gap: 64px;
    }

    .profile-gradu-cards{
        gap: 64px;
    }

    .profile-card{
        padding: 16px;
        box-sizing: border-box;
    }

    .gradu-card{
        padding: 16px;
        box-sizing: border-box;
    }


    #skills{
        padding-bottom: 256px;
    }


    .workout-background{
        padding: 16px;
    }

    .workout-container{
        padding: 16px;
    }

    .workout-overflow-container{
        width: 296px;
    }

    #workout{
        padding-bottom: 256px;
    }

    .workout-text{
        align-items: center;
    }

    .contact-name{
        margin-left: unset;
    }

    .contact-name h4{
        font-size: 24px;
    }

    .contact-file-name{
        padding: 8px 16px;
    }

    .contact-index{
        width: 108px;
        box-sizing: border-box;
    }

    .contact-file-contents-background{
        padding: 16px;
    }

    .characteristic-contents{
        line-height: 150%;
    }

    .folder{
        left: 50%;
        bottom: 21px;
    }

    .workout-height-unset{
        height: unset;
    }

    .code-container figure{
        width: 250px;
    }
   
}